/* This is the style sheet for sway finance. */
body {
  margin: auto;
  background-color: rgb(238, 238, 238);
}

input {
  width: 25%;
}

.container {
  position: absolute;
  height: 70%;
  width: 100%;
}

.topcolor {
  background-color: rgb(31, 37, 50);
}

.header-margins {
  margin-left: 200px;
  margin-top: 30px;
}

.links {
  float: right;
  clear: left;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 15px;
  text-decoration: none;
  font-family: Source Sans Pro;
  color: white;
}

.top-btn {
  clear: left;
  margin-left: 10px;
  height: 50px;
}

.btn {
  width: 10%;
  border-radius: 0.3em;
  border: none;
  background-color: rgb(53, 204, 124);
  color: white;
}

.float-right {
  float: right;
  margin-right: 150px;
}

.description {
  position: relative;
  float: left;
  margin-left: 200px;
  margin-top: 100px;
  font-family: Source Sans Pro;
  color: white;
  clear: left;
}

.description2 {
  margin-top: -20px;
  font-size: 15px;
}

.input {
  position: relative;
  float: left;
  clear: left;
  margin-left: 200px;
  width: 50%;
}

.bottom-btn {
  width: 25%;
}
