/* This is the style sheet for sway finance. */
body {
  margin: auto;
  background-color: rgb(238, 238, 238);
}

input {
  width: 150px;
}

.container {
  position: absolute;
  height: 55%;
  width: 100%;
  padding-bottom: 100px;
}

.topcolor {
  background-color: rgb(31, 37, 50);
}

.header-margins {
  margin-left: 15%;
  margin-top: 30px;
}

.top-logo {
  position: absolute;
}

.links {
  float: right;
  clear: left;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 15px;
  text-decoration: none;
  font-family: Source Sans Pro;
  color: white;
}

.top-btn {
  clear: left;
  margin-left: 10px;
  height: 50px;
}

.btn {
  width: 150px;
  border-radius: 0.3em;
  border: none;
  background-color: rgb(53, 204, 124);
  color: white;
}

.float-right {
  position: relative;
  float: right;
  right: 15%;
}

.description {
  position: relative;
  float: left;
  left: 15%;
  margin-top: 200px;
  font-family: Source Sans Pro;
  color: white;
  clear: left;
}

.description2 {
  margin-top: -20px;
  font-size: 15px;
}

.input {
  position: relative;
  float: left;
  clear: left;
  margin-left: 15%;
  width: 50%;
}

.bottom-btn {
  width: 155px;
}

.img {
  position: relative;
  right: 15%;
  top: 240px;
  float: right;
  margin: 0 auto;
}

.play-btn {
  position: absolute;
  bottom: 23%;
  right: 10%;
  height: 80px;
  width: 80px;
}

.input-box {
  margin-top: 100px;
}

.main-pic {
  position: absolute;
  right: 15%;
  height: 272px;
  width: 408px;
  top: 240px;
  float: right;
}

.pic-box {
  float: right;
  width: 80px;
  height: 80px;
}
