/* This is the style sheet for sway finance. */
body {
  margin: auto;
  background-color: rgb(238, 238, 238);
}

.container {
  position: absolute;
  height: 60%;
  width: 100%;
}

.topcolor {
  background-color: rgb(31, 37, 50);
}

.header-margins {
  margin-left: 10%;
  margin-top: 3%;
}

.links {
  color: white;
  float: right;
  clear: left;
  margin-top: 4%;
  margin-left: 2%;
  font-size: 80%;
  text-decoration: none;
  font-family: Source Sans Pro;
}

.btn {
  background-color: rgb(53, 204, 124);
  color: white;
  border-radius: 0.3em;
  border: none;
  height: 7%;
  width: 10%;
  clear: left;
  margin-left: 2%;
}

.float-right {
  float: right;
  margin-right: 10%;
}
